.ListItem {
  transition: background-color 0.2s;
  cursor: pointer;
}

.ListItem:hover {
  background-color: #f8f8ec;
}

.ListItem.Active {
  background-color: #4a5d5e;
  color: #ffffff;
}

.ListItem a,
.ListItem button {
  color: inherit;
}
