.NavBar {
  background-color: #4a5d5e;
  position: fixed;
}

.NavBar a {
  color: #f8f8ec;
}

.Active {
  text-decoration: underline;
}

.NavDropdown {
  background-color: #f8f8ec;
  border: 1px solid #4a5d5e;
  border-radius: 10px;
  box-shadow: 0 2px 4px #0000001a;
}

.NavDropdown a {
  color: #4a5d5e;
}

.NavDropdown a.Active {
  color: #4a5d5e;
  background-color: #f8f8ec;
}

.NavDropdownIcon {
  color: #4a5d5e;
}

.NavDropdown .NavDropdownLink:active {
  color: #4a5d5e;
  background-color: #f8f8ec;
}
