.NavBar {
    background-color:#4A5D5E;
}

.NavBar .NavLink {
    color: #F8F8EC;
}

.Active i {
    color: #d1d1b2;
}

.NavDropdown {
    background-color: #F8F8EC;
    border: 1px solid #4A5D5E;
    border-radius: 10px;
    box-shadow: 0 2px 4px #0000001a;
}

.NavDropdownIcon {
    color: inherit;
}