/* Remove blue outline */
.form-control:focus {
  box-shadow: none;
  border-color: #d1d1b2;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  width: 150px;
}

.search-button {
  width: 37px;
}

.search-button:hover {
  background-color: #344446;
}
