.App {
  font-family: "DM Sans", sans-serif;
  background-color: #f8f8f8;
  min-height: 100vh;
}

.Main {
  margin-top: 61px;
}

* {
  box-sizing: border-box;
}

a {
  color: #4a5d5e;
  transition: color ease-in-out 0.3s;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover i {
  transition: color ease-in-out 0.3s;
}

h1,
h2,
h3 {
  font-weight: bold;
  color: #4a5d5e;
}
