.App {
  font-family: "DM Sans", sans-serif;
  background-color: #f8f8f8;
  min-height: 100vh;
}

.Main {
  padding-top: 80px;
}

* {
  box-sizing: border-box;
}

a {
  color: #4a5d5e;
  transition: color ease-in-out 0.3s;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover i {
  transition: color ease-in-out 0.3s;
}

i {
  color: #cfced3;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}
