.App {
    font-family: "DM Sans", sans-serif;
    background-color: #f8f8f8;
    min-height: 100vh;
  }

  .Main {
    padding-top: 80px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  a {
    color: #4A5D5E;
    transition: color ease-in-out 0.3s;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  
  a:hover i {
    color:#F8F8EC;
    transition: color ease-in-out 0.3s;
  }
  
  i {
    color: #cfced3;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color:#F8F8EC;
  }